@page
@model IndexModel
@{
	ViewData["Title"] = "Fizz Buzz";
}
<div>
	<h1 class="display-4">Welcome @Model.Name</h1>
	<form method="post">
		<div class="form-group">
			<label asp-for="FizzBuzz.Number"></label><br />
		<input asp-for="FizzBuzz.Number" /><br />
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Zatwierdź</button>
		<span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>
		</div>
		<div style="margin-top: 10px;">
		@{		
		if (Model.FizzBuzz != null && Model.FizzBuzz.Number%5==0 && Model.FizzBuzz.Number%3==0)
		{
				<div class="alert alert-success" role="alert">
					<p>FizzBuzz</p>
				</div>
				
		}
		else
		if (Model.FizzBuzz != null && Model.FizzBuzz.Number%3==0)
		{
				<div class="alert alert-success" role="alert">
					<p>Fizz</p>
				</div>
			
		}
		else
				if (Model.FizzBuzz != null && Model.FizzBuzz.Number%5==0)
		{
				<div class="alert alert-success" role="alert">
					<p>Buzz</p>
				</div>
		}		
		else
				if (Model.FizzBuzz != null)
		{
				<div class="alert alert-warning" role="alert">
					<p>Liczba @Model.FizzBuzz.Number nie spełnia kryteriów FizzBuzz</p>
				</div>
			
		}

		}
			</div>
	</form>
	

</div>
